<form #nomDuFormulaire="ngForm" > (ngsubmit)="onsubmit(nomDuFormulaire)"
  <div >
    <label for="name">Enter your name: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div >
    <label for="email">Enter your email: </label>
    <input type="email" name="email" id="email" required>
  </div>
  <div >
    <input type="submit" value="Submission">
  </div>
</form>

